<header class="tooltipOff">
    <h1>
        Wildlife Model &#9432;
        <p class="tooltip">
            22 classes in 200 epochs.<br />
            Bear, Camel, Cat, Cattle, Chicken, Crab, Crocodile, Dog, Duck,
            Elephant, Fox, Frog, Hippopotamus, Kangaroo, Lion, Mouse, Pig,
            Rabbit, Sheep, Snail, Snake, Zebra.<br />
            Datasets:
            <a
                href="https://github.com/kru01/StatML_YOLO/blob/main/modelTraining/README.md"
                target="_blank"
                >kru01/StatML_YOLO/modelTraining/README.md</a
            >.
        </p>
    </h1>
</header>
