main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    --homeSepHeight: 180px;
}

.containers {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.mainHolders .picHolders {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.picHolders div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.picHolders .srcHolders {
    width: 30%;
}

.picHolders div img {
    max-width: 100%;
    max-height: 50vh;
    box-shadow: 5px 5px 4px 0px rgb(0 0 0 / 50%);
    border-radius: var(--generalBorderRad);
}

#homeSeparator {
    padding: 20px;
    position: absolute;
    width: 100%;
    height: var(--homeSepHeight);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}

#homeSeparator nav ul,
#scroller,
#homeSeparator footer a {
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--homeSepHeight) / 2);
}

#homeSeparator nav {
    justify-self: start;
}

@keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

#scroller {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
    animation: pulsate 1.5s ease-out infinite;
}

#scroller::before {
    content: "";
    position: relative;
    bottom: 15px;
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    transform: rotate(45deg);
}

#scroller.removeBefore {
    &::before {
        content: none;
    }
}

#scroller::after {
    content: "";
    position: relative;
    bottom: -15px;
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    transform: rotate(45deg);
}

#scroller.removeAfter {
    &::after {
        content: none;
    }
}

#scroller:hover {
    color: var(--generalTxtColor);
}

#scroller:hover::before,
#scroller:hover::after {
    border-color: var(--generalTxtColor);
}

footer {
    justify-self: end;
}

#trainCont {
    grid-template-areas:
        "."
        "trainCont"
        "header";
}

#trainCont .mainHolders {
    grid-area: trainCont;
}

#trainCont header {
    grid-area: header;
    align-self: end;
    position: relative;
}

#trainCont header .tooltip {
    bottom: 0;
    left: 300px;
}

@media (max-width: 750px) {
    .mainHolders form {
        flex-direction: column;
        gap: 20px;
    }

    .mainHolders form .picUploader {
        width: 100%;
    }

    nav ul a {
        font-size: 16px;
    }

    footer a {
        margin: 0;
    }

    #trainCont header .tooltip {
        width: 40%;
        font-size: 10px;
    }
}

@media (max-width: 550px) {
    body {
        --navMargin: 0 5px;
    }

    footer a img {
        width: 9vw;
    }

    #trainCont header .tooltip {
        bottom: 80px;
        left: 25px;
        background: rgb(51 50 51);
    }
}
