*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* disabling the undraggable cursor */
    /* user-select: none; */
    /* -webkit-user-drag: none; */
    /* -webkit-app-region: no-drag; */
    /* cursor: default; */
}

:root {
    --generalBorderRad: 0.325em;
    --fieldBorder: 3px solid #e09d46;

    --generalTxtColor: #f2aa4c;
    --peachColor: hsla(350, 63%, 72%, 0.966);
}

html {
    box-sizing: border-box;
}

body {
    --navMargin: 0 15px;

    background: #212121;
    color: white;
    font-family: "Poppins", "Noto Sans JP", sans-serif;
}

br {
    display: block;
    content: "";
    margin: 7px 0;
}

header h1 {
    padding: 25px;
    color: var(--generalTxtColor);
    display: inline-block;
}

header h1:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--peachColor);
}

header h1 a {
    color: inherit;
    text-decoration: inherit;
}

header .tooltip a {
    color: var(--peachColor);
    transition: all 0.2s ease;
}

header .tooltip a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mainHolders {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.mainHolders form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainHolders form input[type="file"] {
    display: none;
}

.mainHolders form .picUploader {
    background: transparent;
    color: var(--generalTxtColor);
    font-size: 16px;
    width: 50%;
    padding: 10px 20px;
    border: 2px solid var(--generalTxtColor);
    border-radius: 5px;
    cursor: pointer;

    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.mainHolders form .picUploader::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.mainHolders form .picUploader:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #f2aa4ca6;
    background: rgb(165 166 165 / 15%);
}

.mainHolders form button {
    width: 10em;
    padding: 15px 0;
    border: 0px solid transparent;
    border-radius: 0.325em;
    box-shadow: 4px 8px 4px 0px rgb(0 0 0 / 50%);
    color: white;
    background: rgb(51, 50, 51);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.mainHolders form button:hover {
    color: var(--generalTxtColor);
    background: rgb(165 166 165 / 15%);
    transform: translateY(-0.2rem);
}

.mainHolders form button:active {
    transform: translateY(0rem);
}

.mainHolders form button.disabled {
    background: #ff9494;
    color: #212121;
}

header .tooltip {
    width: 60%;
    background: rgb(51 50 51 / 50%);
    color: var(--generalTxtColor);
    border: 2px solid var(--generalTxtColor);
    text-align: justify;
    font-size: 14px;
    padding: 10px;
    border-radius: var(--generalBorderRad);

    position: absolute;
    z-index: 1;
}

header.tooltipOff .tooltip {
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.5s;
    opacity: 0;
}

header.tooltipOff h1:hover .tooltip {
    visibility: visible;
    transform: translateY(0px);
    opacity: 0.9;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 50%;
}

nav ul a {
    text-decoration: none;
    margin: var(--navMargin);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

nav ul a.activeNav {
    border-bottom: 1px solid var(--peachColor);
    color: var(--peachColor);
}

nav ul a:hover {
    border-bottom: 1px solid var(--generalTxtColor);
    color: var(--generalTxtColor);
}

footer a {
    margin: var(--navMargin);
}

footer a img {
    border-radius: 50%;
    width: 50px;
}

footer a img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}
