.mainHolders {
    gap: 30px;
}

main {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

header .tooltip {
    top: 0;
    left: 300px;
    background: rgb(51 50 51);
}

header.tooltipOff h1:hover .tooltip {
    opacity: 1;
}

#navHolder {
    padding: 20px;
    width: 100%;
    height: var(--homeSepHeight);
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#main {
    width: 95%;
    display: flex;
    align-items: center;
}

#picHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
}

#picHolder img {
    max-width: 90%;
    max-height: 50vh;
    box-shadow: 5px 5px 4px 0px rgb(0 0 0 / 50%);
    border-radius: var(--generalBorderRad);
}

#picHolder p {
    width: 100%;
    overflow-x: scroll;
    text-align: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#infoHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1 1 0;
}

#info::-webkit-scrollbar {
    width: 5px;
    background: rgb(51, 50, 51);
    border-top-right-radius: var(--generalBorderRad);
    border-bottom-right-radius: var(--generalBorderRad);
}

#info::-webkit-scrollbar-thumb {
    background: var(--generalTxtColor);
    border-top-right-radius: var(--generalBorderRad);
    border-bottom-right-radius: var(--generalBorderRad);
}

#info {
    width: 90%;
    height: 25em;
    padding: 0 15px 15px 15px;
    text-align: justify;
    overflow-y: scroll;
    border-radius: var(--generalBorderRad);

    background: rgb(51, 50, 51);
    color: rgb(201, 202, 201);
    box-shadow: 5px 5px 4px 0px rgb(0 0 0 / 50%);
}

#info > div {
    display: flex;
    flex-direction: column;
}

#info > div h2 {
    color: var(--generalTxtColor);
    padding-top: 15px;
}

#info ul {
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
    align-self: center;
    width: 80%;
    list-style: none;

    padding-bottom: 1.5ch;
    border-bottom: 1px solid var(--generalTxtColor);
    border-image: linear-gradient(
        to right,
        var(--generalTxtColor),
        var(--peachColor)
    );
    border-image-slice: 1;
}

#info ul::before {
    content: "🔗";
    text-align: center;
}

#info ul li {
    text-align: left;
}

#info ul li a {
    text-decoration: none;
    transition: all 0.2s ease;
    color: var(--peachColor);
}

#info ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--generalTxtColor);
}

#info ul li a:visited {
    color: rgb(151, 150, 151);
}

#infoNav {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1.5ch;
}

#infoNav div {
    display: flex;
    align-items: center;
    gap: 0.5ch;
}

#infoNav input {
    text-align: center;
    width: 2.5em;
    border-radius: var(--generalBorderRad);
    border: none;
    box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 70%);
    font-weight: bold;
    padding: 0.5em 0;
}

#infoNav span {
    color: rgb(201, 202, 201);
}

#infoNav button {
    border: none;
    background: none;
    color: var(--generalTxtColor);
    font-size: 2em;
}

#infoNav button:hover {
    cursor: pointer;
    color: var(--peachColor);
}

@media (max-width: 750px) {
    .mainHolders form {
        flex-direction: column;
        gap: 20px;
    }

    .mainHolders form .picUploader {
        width: 100%;
    }

    nav ul a {
        font-size: 16px;
    }

    footer a {
        margin: 0;
    }

    header .tooltip {
        width: 40%;
        font-size: 10px;
    }
}

@media (max-width: 550px) {
    body {
        --navMargin: 0 5px;
    }

    footer a img {
        width: 9vw;
    }

    header .tooltip {
        top: 80px;
        left: 25px;
    }
}

#dataTransfer {
    display: none;
}
